/.docker-images-before
/.docker-images-after
/provisioning/hosts.yml
/provisioning/site.yml
/provisioning/docker-login.yml
/provisioning/authorize.yml
/provisioning/roles/swarm-manager/defaults/main.yml